.App {
  text-align: center;
  background-image: linear-gradient(0deg, #f7f9b0 16.67%, #f0f6f4 16.67%, #f0f6f4 33.33%, #e2e2e2 33.33%, #e2e2e2 50%, #f7f9b0 50%, #f7f9b0 66.67%, #f0f6f4 66.67%, #f0f6f4 83.33%, #e2e2e2 83.33%, #e2e2e2 100%);
background-size: 30.00px 30.00px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
