.home_cards{
    text-decoration: none;
    color: black;
    /* background-image: linear-gradient(0deg, #faf7b2 16.67%, #f0f0f0 16.67%, #f0f0f0 33.33%, #f8f8f6 33.33%, #f8f8f6 50%, #faf7b2 50%, #faf7b2 66.67%, #f0f0f0 66.67%, #f0f0f0 83.33%, #f8f8f6 83.33%, #f8f8f6 100%);
    background-size: 36.00px 36.00px; */
}

.home_pokemons{
    display: flex;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.home_functions{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(0deg, #faf7b2 16.67%, #f0f0f0 16.67%, #f0f0f0 33.33%, #f8f8f6 33.33%, #f8f8f6 50%, #faf7b2 50%, #faf7b2 66.67%, #f0f0f0 66.67%, #f0f0f0 83.33%, #f8f8f6 83.33%, #f8f8f6 100%);
    background-size: 36.00px 36.00px; */
}

.home_link{
    text-decoration: none;
}
.home_create{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ebfeea;
    background-color: #9fe491;
    border-radius: 5px;
    border: 2px solid #89abad;
    width: 300px;
    height: 50px;
    font-size: 28px;
    -webkit-text-stroke: 1px #89abad;
    transition: 0.5s;
}
.home_create:hover{
    transform: scale(105%);
    transition: 0.5s;
}

.home_refresh{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #9fe491;
    border-radius: 5px;
    border: 2px solid #89abad;
    width: 105px;
    height: 30px;
    font-size: 18px;
    /* -webkit-text-stroke: 0.05px #89abad; */
    transition: 0.5s;
    margin-top: 10px;
}
.home_refresh:hover{
    cursor: pointer;
    transform: scale(105%);
    transition: 0.5s;
}


.home_options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdffb7;
    /* background-color: #f7f8d8; */
    width: 275px;
    border-radius: 5px;
    height: 75px;
    border: 2px solid #496859;
    margin: 10px;
}
.label{
    width: 275px;
    border-radius: 5px;
    font-size: 17px;
    padding-top: 4px;
}
.select{
    background-color: #5ecf81;
    border-radius: 5px;
    border: 2px solid #496859;
    width: 175px;
    margin-top: 5px;
}
.select:hover{
    cursor: pointer;
}
/* .select:focus{
    background-color: red;
} */

.home_loading_img{
    /* border: 1px solid red; */
    height: 350px;
}

.home_big{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 700px;
}