@font-face {
    font-family: 'PokemonLogo';
    src: url('../../Fonts/PokemonSolid.ttf');
}

.landing{
    display: flex;
    justify-content: center;
}

.landing_div{
    display: flex;
    flex-direction: column;
    background-color: #0078bf;
    border-radius: 5px;
    width: 750px;
    margin-top: 90px;
}

.landing_welcome{
    font-family: 'PokemonLogo';
    color: #fef806;
    font-size: 55px;
}

.landing_link{
    text-decoration: none;
}