@font-face {
    font-family: 'PokemonLogo';
    src: url('../../Fonts/PokemonSolid.ttf');
}
@font-face {
    font-family: 'PokemonClassic';
    src: url('../../Fonts/PokemonClassic.ttf');
}

.landing{
    display: flex;
    /* justify-content: center; */
    /* background-image: linear-gradient(45deg, #6b54a4 25%, #684a85 25%, #684a85 50%, #6b54a4 50%, #6b54a4 75%, #684a85 75%, #684a85 100%);
    background-size: 56.57px 56.57px; */
    background-image: url('../../Images/pokemonWallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.landing_div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #81c890;
    border: 4px solid #408860;
    border-radius: 5px;
    width: 750px;
    /* height: 200px; */
    height: 300px;
    margin-top: 10px;
    margin-left: 55px; 
    /* padding-bottom: 100px; */
}

.landing_welcome{
    font-family: 'PokemonLogo';
    color: #204057;
    /* -webkit-text-stroke: 0.5px #204057; */
    font-size: 55px;
}

.landing_link{
    text-decoration: none;
    font-family: 'PokemonClassic';
    font-size: 11px;
    /* font-size: 13px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #b32828;
    border-radius: 5px;
    width: 225px;
    height: 35px;
    transition: 0.5s;
}

.landing_link:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: 0.5s;
}