@font-face {
    font-family: 'PokemonLogo';
    src: url('../../Fonts/PokemonSolid.ttf');
}

.landing{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #6b54a4 25%, #684a85 25%, #684a85 50%, #6b54a4 50%, #6b54a4 75%, #684a85 75%, #684a85 100%);
    background-size: 56.57px 56.57px;
    height: 100vh;
}

.landing_div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* background-color: #f8f8f8; */
    border: 2px solid #706880;
    border-radius: 5px;
    width: 750px;
    height: 200px;
    margin-top: 90px; 
    padding-bottom: 100px;
}

.landing_welcome{
    font-family: 'PokemonLogo';
    color: #f8ebf4;
    font-size: 55px;
}

.landing_link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #942626;
    border-radius: 5px;
    width: 225px;
    height: 32px;
    transition: 0.5s;
}

.landing_link:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: 0.5s;
}