.pag_container{
    display: flex;
    /* justify-content: center;
    align-content: center; */
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.pag_numbs{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #eafaef;
    font-size: 22px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    background-color: #a2c5a7;
    border: 2px solid #80a09b;
    margin: 12px;
    transition: 0.5s;
}
.pag_numbs:hover{
    cursor: pointer;
}
.current{
    transform: scale(125%);
    background-color: #a0c8f0;  
    color: #eafaef;
    border-color: #67676f;
    transition: 0.5s;
}

/* Version más oscura */
/* .current{
    transform: scale(125%);
    background-color: #4a5c4d;  
    color: #eafaef;
    border-color: #374644;
    transition: 0.5s;
} */

/* .pag_ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 1px solid red;
} */